* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #555;
    font-family: 'Avenir Next', "Lantinghei SC";
    font-size: 14px;
    /*-webkit-font-smoothing: antialiased;*/

    background: #6ca8fb;
    background: -webkit-linear-gradient(to left, #00d2ff , #6ca8fb);
    background: linear-gradient(to left, #00d2ff , #6ca8fb);
    text-align: center;
    height: 620px;
    min-width: 100%;
    /*padding: 5em 0px !important;*/
    position: relative;
    border-bottom: 1px solid #edeeee;
}

@font-face {
    font-family: "icons";
    src: url(../fonts/WebSymbols-Regular.otf) format('otf');
    font-wight: normal;
}

#content-wrap {
    width: 100%;
    height: 600px;
    position: relative;
    /*top:100% ;*/
    margin-top:-300px;
    /*background:darkgray;*/
    overflow:hidden;
    /*-webkit-perspective:800px;*/
}

.photo {
    width: 260px;
    height: 320px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0, .01);
    /*-webkit-transition:all 0.3s;*/
    transition: left 1s, top 1s, -webkit-transform 0.3s;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eee;
    top: 0;
    left: 0;
    padding: 20px;
    /*设置盒模型:内容和padding
    都在边框之内执行*/
    /*box-sizing: border-box;*/
}

.photo .side-front {
}

.photo .side-front .image {
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}

.photo .side-front .image img {
    width: 100%;
    vertical-align: middle;
}

.photo .side-front .capation {
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}

.photo .side-back {
}

.photo .side-back .desc {
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
}

/*当前选中的海报样式*/
.photo_center {
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
    z-index: 999;
}

.photo-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transition: left 1s, top 1s, -webkit-transform 0.3s;
}

.photo-wrap .side-front {
    -webkit-transform: rotateY(0deg);
}

.photo-wrap .side-back {
    -webkit-transform: rotateY(180deg);
}

.photo-wrap .side {
    -webkit-backface-visibility: hidden;
}

.photo_front .photo-wrap {
    -webkit-transform: translate(0px, 0px) rotateY(0deg);
}

.photo_back .photo-wrap {
    -webkit-transform: translate(260px, 0px) rotateY(-180deg);
}

.nav {
    width: 80%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 10%;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.nav .i {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: green;
    border-radius: 50%;
    -webkit-transform: scale(0.48);
    cursor: pointer;
    -webkit-transition: all 1s;
}

.nav .i_current {
    -webkit-transform: rotateY(-180deg);
    -webkit-transform: scale(1);
}

.nav .i_current:after {
    background: blue;
    opacity: 1;
}

.nav .i_back {
    -webkit-transform: rotateY(-180deg);
    background: yellow;
}

.nav .i_back:after {
    background: yellow;
}

@media screen and (max-width: 400px) {
    .main{
        width: 100%;
        padding-bottom: 0px;
    }
    html{
        font-size: 90%;
    }
    header p{
        font-size: 1.05em;
        letter-spacing: 0px;
        margin: 1.5em;
    }
    .cbp_tmlabel ul li.skill>span, .cbp_tmlabel ul li.skill>a{
        margin-right: 2px;
    }
}

header{
    background: #6ca8fb;
    background: -webkit-linear-gradient(to left, #00d2ff , #6ca8fb);
    background: linear-gradient(to left, #00d2ff , #6ca8fb);
    text-align: center;
    height: 620px;
    min-width: 100%;
    padding: 5em 0px !important;
    position: relative;
    border-bottom: 1px solid #edeeee;
}
header h1 {
    font-size: 70px;
    color: white;
    font-weight: 100;
    margin-top: 26px;
    margin-bottom: 10px;
    line-height: 1;
    letter-spacing: 0.1em;
}
header p{
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 1.7em;
}
header img{
    width: 190px;
}